xml-resources/web-service-references/AddAccountImplService/wsdl/localhost_8080/LedgerApp/AddAccountImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://accountservice.service.ledgerapp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://accountservice.service.ledgerapp.com/">

<xs:element name="AddAccount" type="tns:AddAccount"/>

<xs:element name="AddAccountResponse" type="tns:AddAccountResponse"/>

<xs:complexType name="AddAccount">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="accountName" type="xs:string" minOccurs="0"/>
<xs:element name="accountNum" type="xs:string" minOccurs="0"/>
<xs:element name="bankName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>