src/META-INF/wsdl/localhost_8080/LedgerApp/GetAccountImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://accountservice.service.ledgerapp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://accountservice.service.ledgerapp.com/" name="GetAccountImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://accountservice.service.ledgerapp.com/" schemaLocation="http://localhost:8080/LedgerApp/GetAccountImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="InvalidAccountException">
<part name="fault" element="tns:InvalidAccountException"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<portType name="GetAccount">
<operation name="getAccount">
<input wsam:Action="http://accountservice.service.ledgerapp.com/GetAccount/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://accountservice.service.ledgerapp.com/GetAccount/getAccountResponse" message="tns:getAccountResponse"/>
<fault message="tns:InvalidAccountException" name="InvalidAccountException" wsam:Action="http://accountservice.service.ledgerapp.com/GetAccount/getAccount/Fault/InvalidAccountException"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://accountservice.service.ledgerapp.com/GetAccount/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://accountservice.service.ledgerapp.com/GetAccount/getAccountsResponse" message="tns:getAccountsResponse"/>
<fault message="tns:InvalidAccountException" name="InvalidAccountException" wsam:Action="http://accountservice.service.ledgerapp.com/GetAccount/getAccounts/Fault/InvalidAccountException"/>
</operation>
</portType>
<binding name="GetAccountImplPortBinding" type="tns:GetAccount">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidAccountException">
<soap:fault name="InvalidAccountException" use="literal"/>
</fault>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidAccountException">
<soap:fault name="InvalidAccountException" use="literal"/>
</fault>
</operation>
</binding>
<service name="GetAccountImplService">
<port name="GetAccountImplPort" binding="tns:GetAccountImplPortBinding">
<soap:address location="http://localhost:8080/LedgerApp/GetAccountImplService"/>
</port>
</service>
</definitions>